.App {
  text-align: center;
}

/*
UserManagement application styling form here
*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* card styling starts here*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

#page-numbers {
  list-style: none;
  display: flex;
  justify-content:flex-end;
  margin-right: 42px;
}

#page-numbers > li {
  margin-right: 0.3em;
  color:#fff;
  background:lightblue;
  width:24px;
  user-select: none;
  cursor: pointer;
}
#page-numbers > li:hover{
  background: blue;
}